Source: gbirthday
Section: gnome
Priority: extra
Maintainer: Rolf Leggewie <foss@rolf.leggewie.biz>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), python-nose, python-coverage, python-gtk2, intltool
Standards-Version: 3.9.1
Homepage: http://gbirthday.sf.net/
Vcs-Browser: http://git.debian.org/?p=collab-maint/gbirthday.git
Vcs-Git: git://git.debian.org/collab-maint/gbirthday.git


Package: gbirthday
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, evolution-data-server, python,
 python-gtk2 (>= 2.10), ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: birthday reminder for Evolution Contacts
 GBirthday is a birthday reminder application that helps you to remenber your
 evolution contacts' birthdays. It puts an icon in the notification area when
 any of your contacts' birthdays are coming up soon.

